body {
    font-family: 'Bree Serif', serif;
}


.subtitle {
    line-height: 1.5;
}


.main_pict-elt {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px #ffffff;
    overflow: hidden;
}

.content-divider {
    margin: 0 auto;
}

.skill-container {
    background-color: rgba(28, 26, 27, 0.5);
    border-radius: 15px;
}

.skill-container img {
    padding: 1rem;
    border: 5px solid #e3e3e3;
    border-radius: 50%;
    box-shadow: 0 0 25px 5px #ffffff;
}